# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Models / cache
*.pkl
*.h5
*.pt

# Data
*.csv
.streamlit/secrets.toml
